
@tailwind base;

@font-face {
  font-family: 'Dovemayo_gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Dovemayo_gothic';
}


@layer base {
  h1 {
    @apply text-3xl font-extrabold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-lg;
  }
  
  ul {
    @apply  
    block
    ms-0
    me-0
    ps-[40px]
    block
    m-2
    list-none
    
  }
  ol {
    @apply  
    block
    list-decimal
    ms-0
    me-0
    ps-[40px]
    m-2
  }
  [type="radio"]  {
    vertical-align: middle;
    appearance: none;
    cursor: pointer;
  }
  
  
  a {
    @apply text-sky-500 hover:text-sky-600;
  }
  blockquote {
    @apply border-l-8 m-2 mx-3 p-2 text-gray-400 italic
  }
}  

@tailwind components;
@tailwind utilities;

.ck-content {
  min-height: 400px;
  border: none;
  outline: none;
}

.ck {
  border :none;
}
.react-datepicker-wrapper {
  width: 84px !important;
  position: relative !important;
  
}
react-datepicker__input-container  {
 
}

